html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.img {
    width: 1440px;
    height: 800px;
}

body {
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;  /*отменяет маркеры*/
}

.flex {
    display: flex;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;   /*устанавливает прозраченый фон*/
    cursor: pointer;  /*чтоб было видно курсор*/
}

.btn {
    cursor: pointer;  /*чтоб было видно курсор*/
    background-color: #DD9D4C;
    width: 197px;
    height: 56px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}

.btn:hover {
    background-color: #c58e45;
}

.container {
    width: 1440px;
    padding: 0 0px;
    margin: 0 auto;
}

/* HEADER */
.header {
    position:sticky; 
    top:0;
}

.header-container {
    align-items: center;
}

.header-nav {
    width: 1440px;
    height: 114px;
    padding: 40px 0px;
    background: #FDFCFB;
    padding-left: 418px;
    display: block;
}

.header-list-item:not(:last-child) {
    margin-right: 80px;  
}

.header-btn {
    margin: 0px 0px 76px 120px;
}

/* LOGO */
.logo {
    width: 1440px;
    height: 800px;
    background-image: url(../img/header.jpg);
}

.logo-list {
    padding: 120px 120px 0px 120px;
    color: #FFF9EE;
}

.logo-list-item:not(:last-child) {
    margin-right: 994px;  
}

.logo-list-item-img {
    margin-right: 19px;
}

.logo-list-item-text {
    width: 70px;
}

.logo-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    padding: 1px 21px;
    border: 1px solid #FFFFFF;  
    border-radius: 4px;
}

.logo-title {
    margin: 122px 0px 0px 120px;
    max-width: 645px;
    font-weight: 400;
    font-size: 76px;
    line-height: 98px;
    color: #FFFFFF;
}

.logo-text {
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    margin: 35px 0 51px 120px;
    max-width: 470px;
    line-height: 37px;
}

/* SWILE */
.swile {
    background: #f7f1ed;
    height: 709px;
    width: 1440px;
}

.swile-container {
    height: 709px;
    background: url(../img/Rectangle\ \(1\).png);
    background-position: right center;
    background-position-y: 105px;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding-top: 154px;
}

.swile-title {
    margin-left: 120px;
    width: 364px;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    color: #1A0800;
}

.swile-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(26, 8, 0, 0.7);
    margin: 31px 0 0px 120px;
    max-width: 470px;
}

.swile-btn {
    margin: 34px 0px 0px 120px;
}

/* BACK-MARKET */
.back-market {
    background: #FDFCFB;
    height: 829px;
    width: 1440px;
}

.back-market-container {
    height: 829px;
    background: url(../img/Rectangle2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    padding-top: 264px;
}

.back-market-title {
    margin: 0px 122px 0px 840px;
    max-width: 478px;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    color: #1A0800;
}

.back-market-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(26, 8, 0, 0.7);
    margin: 31px 120px 0px 845px;
    max-width: 480px;
}

.back-market-btn {
    margin: 34px 0px 0px 845px;
}

/* SHINE */
.shine {
    background: #f7f1ed;
    height: 682px;
    width: 1440px;
}

.shine-container {
    height: 682px;
    background: url(../img/Rectangle3.jpg);
    background-position: right;
    background-position-y: 91px;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding-top: 194px;
}

.shine-title {
    margin-left: 120px;
    width: 413px;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    color: #1A0800;
}

.shine-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(26, 8, 0, 0.7);
    margin: 31px 0 0px 120px;
    max-width: 441px;
}

.shine-btn {
    margin: 34px 0px 0px 120px;
}

/* SUPPORT */
.support {
    background: #F9F6F3;
    height: 709px;
    width: 1440px;
}

.support-container {
    height: 709px;
    background: url(../img/Rectangle.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.support-title {
    margin: 0px 149px 0px 840px;
    padding-top: 204px;
    max-width: 451px;
    font-weight: 400;
    font-size: 51px;
    line-height: 56px;
    color: #1A0800;
}

.support-text {
    margin: 31px 122px 0px 840px;
    max-width: 478px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(26, 8, 0, 0.7);
}

.support-btn {
    margin: 34px 0px 0px 840px;
}

/*PERKS*/
.perks {
    background: #FDFCFB;
    height: 749px;
    width: 1440px;
    padding-top: 110px;
}

.perks-title {
    margin: 0px 0px 0px 120px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #1A0800;
    max-width: 463px;
    max-height: 174px;
}

.perks-list {
    margin: 103px 133px 137px 120px;
}

.perks-list-item:not(:last-child) {
    margin-right: 101px;
}

.perks-list-item-img {
    width: 72px;
    height: 60px;
}

.perks-list-item-title {
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.42px;
    color: #1A0800;
}

.perks-list-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: rgba(26, 8, 0, 0.7);
}

/* FUTURE */
.future {
    width: 1440px;
    height: 408px;
    background: #cf9e7933;
    padding-top: 114px;
}

.future-title {
    margin: 0px 119px 126px 120px;
    max-width: 328px;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;  
    color: #1A0800;
}

.future-list {
    margin-top: 33px;
    margin-bottom: 114px;
}

.future-list-item:not(:last-child) {
    margin-right: 80px;
}

.future-list-item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #1A0800;
}

.future-list-item-img {
    size: 16px 16px;
    margin-right: 6px;
}

.future-list-item-text {
    max-width: 346px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(26, 8, 0, 0.7);
}

/* FOOTER */
.footer {
    min-width: 1440px;
    min-height: 629px;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.footer-container {
    align-items: center;
}

.logo-footer {
    padding: 120px 0 0 120px;
    color: #FFF9EE;
}

.logo-footer-item-img {
    margin-right: 19px;
}

.logo-footer-item-text {
    width: 70px;
}

.footer-text {
    margin: 48px 0 0 120px;
    max-width: 339px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.footer-language {
    margin: 22px 0 0 125px;
}

.footer-language-item-img {
    margin-right: 10px;
    margin-left: 10px;
}

.footer-language-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-copy {
    margin: 31px 0 0 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
}